In [2]:
import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sindhuravi@3"
)

# Check if the connection was successful
if mydb.is_connected():
    print("Connection successful")
else:
    print("Connection failed")

Connection successful

In [3]:
# import packages
import pandas as pd
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Sindhuravi@3",
)

print(mydb)
Mycursor=mydb.cursor(buffered=True)  # cursor is intracting point between mysql and python

# create database
Mycursor.execute('create database SportRadar')
print('the databases created')

# Show database
Mycursor.execute('show databases')
for i in Mycursor:
    print(''.join(i))

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019C63691580>
the databases created
employeedb
information_schema
mysql
performance_schema
records
sakila
sportradar
sys
world

In [4]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Categories_Table.csv')
Categories_table=df.copy()

# Data preprocessing

#information about the dataset
Categories_table.info()
# drop duplicates
Categories_table.drop_duplicates(subset=['category_id'],inplace=True)


# create table 
Mycursor.execute('create table SportRadar.Categories_table(category_id varchar(50),category_name varchar(100) not null,PRIMARY KEY (category_id))')
print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.Categories_Table(category_id,category_name) values(%s,%s)'

#insert the rows through the loop
for index,row in Categories_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['category_id'],row['category_name']))
        
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")
mydb.commit()
# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.Categories_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5839 entries, 0 to 5838
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    5839 non-null   object
 1   category_name  5839 non-null   object
dtypes: object(2)
memory usage: 91.4+ KB
the table has been created
The data has been uploaded. Total rows in table: 18

In [5]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Competitions_Table.csv')
Competitions_table=df.copy()

# Data Preprocessing

# information about dataset
Competitions_table.info()
# drop Duplicates by 'competition_id'
Competitions_table.drop_duplicates(subset=['competition_id'],inplace=True)

# Convert missing values to None (for MySQL compatibility)
Competitions_table['parent_id'] = Competitions_table['parent_id'].apply(lambda x: None if pd.isna(x) else x)



# create table 
Mycursor.execute('create table SportRadar.Competitions_table(competition_id varchar(50) ,competition_name varchar(100) not null,parent_id varchar(50) null,type varchar(20) not null,gender varchar(10) not null,category_id varchar(50),primary key(competition_id),FOREIGN KEY (category_id) REFERENCES SportRadar.Categories_table(category_id))')
#print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.Competitions_table(competition_id,competition_name,parent_id,type,gender,category_id)values(%s,%s,%s,%s,%s,%s)'

#insert the rows through the loop
for index,row in Competitions_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['competition_id'],row['competition_name'],row['parent_id'],row['type'],row['gender'],row['category_id']))
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")
        
mydb.commit()
# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.Competitions_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5839 entries, 0 to 5838
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   competition_id    5839 non-null   object
 1   competition_name  5839 non-null   object
 2   parent_id         5766 non-null   object
 3   type              5839 non-null   object
 4   gender            5839 non-null   object
 5   category_id       5839 non-null   object
dtypes: object(6)
memory usage: 273.8+ KB
The data has been uploaded. Total rows in table: 5839

In [6]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Complexes_Table.csv')
Complexes_table=df.copy()

# Data Preprocessing

# information about dataset
Complexes_table.info()
# drop duplicates
Complexes_table.drop_duplicates(subset=['complex_id'],inplace=True)


# create table 
Mycursor.execute('create table SportRadar.Complexes_table(complex_id varchar(50),complex_name varchar(100) not null,primary key(complex_id))')
print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.Complexes_table(complex_id,complex_name)values(%s,%s)'

#insert the rows through the loop
for index,row in Complexes_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['complex_id'],row['complex_name']))
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")
#commit changes        
mydb.commit()

# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.Complexes_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   complex_id    615 non-null    object
 1   complex_name  615 non-null    object
dtypes: object(2)
memory usage: 9.7+ KB
the table has been created
The data has been uploaded. Total rows in table: 615

In [7]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Venues_Table.csv')
Venues_table=df.copy()

# Data Preprocessing

#informtion about the dataset
Venues_table.info()
#check null values by related columns
missing=Venues_table.loc[Venues_table['timezone'].isna(),['country_name','city_name','timezone']]
missing.drop_duplicates()
# mapping the missing timezone
fill_missing = {('France', 'Orchies'): 'Europe/Paris',('Singapore', 'Kallang'): 'Asia/Singapore',('China', 'Zhuhai'): 'Asia/Shanghai',('Russia', 'Moscow'): 'Europe/Moscow',('Chile', 'Vina del Mar'): 'America/Santiago',('China', 'Liuzhou'): 'Asia/Shanghai',('Uruguay', 'Punta del Este'): 'America/Montevideo',('Austria', 'Tulln'): 'Europe/Vienna',('Monaco', 'Monte Carlo'): 'Europe/Paris',('Germany', 'Baden-Wurttemberg'): 'Europe/Berlin',('Switzerland', 'Montreux'): 'Europe/Zurich',('China', 'Jiujiang'): 'Asia/Shanghai',('France', 'Decines-Charpieu'): 'Europe/Paris',('Thailand','Nonthaburi'):'Asia/Bangkok'}
# fill missing values by 'combine key' column
Venues_table['combined_key'] = list(zip(Venues_table['country_name'], Venues_table['city_name']))
Venues_table['timezone'] = Venues_table['combined_key'].map(fill_missing).fillna(Venues_table['timezone'])
#drop the column
Venues_table.drop(columns=['combined_key'], inplace=True)
# check null values are there  
print(Venues_table.isna().sum())



# create table 
Mycursor.execute('create table SportRadar.Venues_table(venue_id varchar(50),venue_name varchar(100) not null,city_name varchar(100) not null,country_name varchar(100) not null,country_code char(3) not null,timezone varchar(100) not null,complex_id varchar(50),primary key(venue_id),foreign key (complex_id) references SportRadar.Complexes_table(complex_id))')
print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.Venues_table(venue_id,venue_name,city_name,country_name,country_code,timezone,complex_id)values(%s,%s,%s,%s,%s,%s,%s)'

#insert the rows through the loop
for index,row in Venues_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['venue_id'],row['venue_name'],row['city_name'],row['country_name'],row['country_code'],row['timezone'],row['complex_id']))
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")

#commit changes
mydb.commit()

# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.Venues_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3178 entries, 0 to 3177
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   venue_id      3178 non-null   object
 1   venue_name    3178 non-null   object
 2   city_name     3178 non-null   object
 3   country_name  3178 non-null   object
 4   country_code  3178 non-null   object
 5   timezone      3178 non-null   object
 6   complex_id    3178 non-null   object
dtypes: object(7)
memory usage: 173.9+ KB
venue_id        0
venue_name      0
city_name       0
country_name    0
country_code    0
timezone        0
complex_id      0
dtype: int64
the table has been created
The data has been uploaded. Total rows in table: 3178

In [11]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Competitor_Rankings_Table.csv')
Competitor_Rankings_table=df.copy()


# Data Preprocessing

# information about dataset
Competitor_Rankings_table.info()
# drop duplicates
Competitor_Rankings_table.drop_duplicates(subset=['rank_id'],inplace=True)
# check null values
print(Competitor_Rankings_table.isna().sum())


# create table 
Mycursor.execute('create table SportRadar.Competitor_Rankings_table(rank_id int AUTO_INCREMENT ,`rank` int not null,movement int not null,points int not null,competitions_played int not null,competitor_id varchar(50),primary key (rank_id),FOREIGN KEY (competitor_id) REFERENCES SportRadar.competitors_table(competitor_id))')
print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.Competitor_Rankings_table(`rank`,movement,points,competitions_played,competitor_id)values(%s,%s,%s,%s,%s)'

#insert the rows through the loop
for index,row in Competitor_Rankings_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['rank'],row['movement'],row['points'],row['competitions_played'],row['competitor_id']))
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")

# committ changes
mydb.commit()

# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.Competitor_Rankings_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   rank_id              1000 non-null   int64
 1   rank                 1000 non-null   int64
 2   movement             1000 non-null   int64
 3   points               1000 non-null   int64
 4   competitions_played  1000 non-null   int64
 5   competitor_id        1000 non-null   object
dtypes: int64(5), object(1)
memory usage: 47.0+ KB
rank_id                0
rank                   0
movement               0
points                 0
competitions_played    0
competitor_id          0
dtype: int64
the table has been created
The data has been uploaded. Total rows in table: 1

In [10]:
# import file to store
df=pd.read_csv(r'C:\Users\jamun\Desktop\Tennis_SportRadar_Api\env\Scripts\Competitors_Table.csv')
competitors_table=df.copy()

# Data Preprocessing

# information about dataet
competitors_table.info()
# Drop duplicate rows based on 'competitor_id'
competitors_table.drop_duplicates(subset=['competitor_id'],inplace=True)
# check null values
competitors_table.loc[competitors_table['country_code'].isna(),'country']
competitors_table[competitors_table['country']=='Neutral']
competitors_table['country_code'].fillna('NTL',inplace=True)
# ensure the null values
print(competitors_table.isna().sum())


# create table 
Mycursor.execute('create table SportRadar.competitors_table(competitor_id varchar(50),name varchar(100) not null,country varchar(100) not null,country_code char(3) not null,abbreviation varchar(10) not null,primary key (competitor_id))')
print('the table has been created')

# values to store 
insert_into='insert ignore into SportRadar.competitors_table(competitor_id,name,country,country_code,abbreviation)values(%s,%s,%s,%s,%s)'

#insert the rows through the loop
for index,row in competitors_table.iterrows():
    try:
        Mycursor.execute(insert_into,(row['competitor_id'],row['name'],row['country'],row['country_code'],row['abbreviation']))
    except Exception as e:
        print(f"Error inserting row {index}: {row.to_dict()}\nError: {e}")

# committ chanes        
mydb.commit()

# ensure the data has been stored
Mycursor.execute('select count(*) from SportRadar.competitors_table')
row_count=Mycursor.fetchone()[0]
print(f'The data has been uploaded. Total rows in table: {row_count}')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   competitor_id  1000 non-null   object
 1   name           1000 non-null   object
 2   country        1000 non-null   object
 3   country_code   934 non-null    object
 4   abbreviation   1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB
competitor_id    0
name             0
country          0
country_code     0
abbreviation     0
dtype: int64
the table has been created

C:\Users\jamun\AppData\Local\Temp\ipykernel_2056\3371345091.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  competitors_table['country_code'].fillna('NTL',inplace=True)

The data has been uploaded. Total rows in table: 1000